{% extends 'layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block body %}

{% block head %}
  <script>
    var name = "{{ session_name }}"
    var auth = "{{ current_user.is_authenticated }}"
    window.setInterval(function() {
      auth = "{{ current_user.is_active }}"
      if (!auth) {
        window.location = "{{ url_for('logout') }}";
        document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      }
    }, 1000);
  </script>
{% endblock %}

{% if current_user.role == 'customer' %}
  <button type="button">View Available Cars</button><br>
{% elif current_user.role == 'engineer' %}
  <button type="button">View Fleet</button><br>
{% endif %}
<button type="button">Buy a car</button><br>
{% endblock %}
