<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <title>
      {% block title %}
      {% endblock %} - SecureWeb
    </title>
  {% endblock %}
</head>

<body>
  <div>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('dashboard') }}">Dashboard</a>
      <a href="{{ url_for('profile') }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('dashboard') }}">Login</a>
      <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block body %}
  {% endblock %}
</body>
